body {
    font-family: 'Roboto', sans-serif;
}
.list {
    text-decoration: none;
    list-style: none;
}

.logo {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
}

.first-part {


    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #2196F3;
}

.last-part {

    font-weight: 400;
    font-size: 26px;
    line-height: calc(36.96/26);
    letter-spacing: 0.03em;
    color: #000000;
}
.link:hover {
    color: #2196F3;
}

.link:focus {
    color: #2196F3;
}
.header-list {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: #212121;
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;

}

.header-mailto {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
}
.prj-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: #212121;
        background-color: #F5F4FA;
        border-radius: 4px;
}
.prj-btn:hover {
    color: #ffff;
    background-color: #188CE8;
}
.prj-img-h2 {
    font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        color: #212121;
}
.prj-img-p {
    font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.03em;
        color: #757575;
}
.footerride {
    background-color: #2F303A;
    ;
}

.last-part-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-map-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mailto-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}